* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.squares {
	display: flex;
	height: calc(100vw / 3);
}

.sq-big {
	display: flex;
	flex-wrap: wrap;
	width: calc(100vw / 3);
	height: 100%;
}

.sq-small {
	min-width: 0; /* per permettere a flex di restringere le immagini sotto la loro larghezza naturale */
	flex: 0 0 50%; /* su una riga ci stanno esattamente due elementi, i valori di grow e shrink sono indiferrenti (non entrano in azione non essendoci spazio vuoto nel container da spartire o sbordamenti) */
	height: 50%;
	padding: 2rem;
	background: gold;
	/* border: 5px solid gray; */
}

.sq-center {
	background-color: salmon;
}